.goingDown
{
	margin-top: 25% !important;

}

.magicbtn
{
	    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    margin-top: 16px;
}

.loginforms
{
	background: #F0F0E9;
    border: medium none;
    color: #696763;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    margin-bottom: 10px;
    outline: medium none;
    padding-left: 10px;
    width: 100%;
}

.panelofitems
{
    border-width: thin;
    border-spacing: 2px;
    border-style: none;
    border-color: #777;

}

.sizesPanel
{
    background-color: lavender;
}

body 
{
    font-family: 'Open Sans', sans-serif !important;
}

.btn span.glyphicon {               
    opacity: 0;             
}
.btn.active span.glyphicon{                
    opacity: 1;             
}

.messenger{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 1000;
    font-size: 100px;
    color:white;
    background-color:rgba(0,0,0,0.5);
}

.listcart{
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    padding:5px;
    border-color: #777;
}

.biggerfont{
    font-size:15px;
    font-weight: bold;
}

body{
    padding-bottom: 30px;
}